{% extends 'default.html' %}
{% load custom_filters %}

{% block title %}Список новостей{% endblock %}

{% block content %}
<h1>Список новостей</h1>
<p>Количество новостей: {{ news_list|length }}</p>
<ul>
    {% for news in news_list %}
    <li>
        <h2>{{ news.title|censor }}</h2>
        <p>Дата публикации: {{ news.get_formatted_date }}</p>
        <h5>{{ news.get_short_text|censor }}</h5>
        <a href="{% url 'news:news_detail' news.pk %}">Подробнее</a><hr>
    </li>
    {% endfor %}
</ul>
{% endblock %}